header {
  font: var(--text-md);
}

header .container {
  padding-inline: var(--py-lg);
  flex-direction: column;
  gap: 2rem;

  & #profile {
    flex-direction: column;

    &>div {
      display: flex;
      flex-wrap: wrap;
      max-width: 18.5rem;

      & h1 {
        font: var(--text-lg);
        color: var(--text-color-primary);
        margin-bottom: 8px;
      }
    }

    & img {
      width: 7.5rem;
      height: 7.5rem;
    }
  }

  & #info {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 280px;

    & li {
      display: flex;
      gap: 8px;
    }
  }
}

@media (width >=80em) {
  header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & #profile {
      flex-direction: row;
      gap: 2rem;

      & img {
        width: 11rem;
        height: 11rem;
      }

      &>div {
        max-width: 384px;
      }
    }

  }
}