main {
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 1rem;
}

main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (width >=80rem) {
  main {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding-block: 24px;
  }
}