main {
  flex-wrap: wrap;
  justify-content: center;
}

main img {
  max-width: 400px;
  width: 100%;
  object-fit: cover;
}

@media (width >=80rem) {
  main {
    gap: 24px;
    padding-block: 24px;

    & img {
      width: 286px;
      height: 286px;
    }
  }
}