nav {
  justify-content: space-between;

  font: 1rem/150% var(--font-family);

  & ul {
    list-style: none;
    
    & li {
      padding: .25rem;
    }

    & li:nth-child(1) img {
      width: 24px;
      height: 24px;
    }

    & li:not(:has(img)) {
      display: none;
    }

    & li:last-child{
      padding: 0;  

      & img {
        width: 40px;
        height: 40px;
      }
    }
  }

  @media (width >= 80em){
    & ul {
        & li:not(:has(img)) {
        display: initial;
      }
    }
  }

}


