.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.py-base{
  padding-block: var(--py-base);
}

.py-lg{
  padding-block: var(--py-lg);
}